---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";

export async function getStaticPaths() {
    const pages = await getCollection("news");

    const paths = pages.map(page => {
        const [lang, ...slug] = page.slug.split("/");
        return {
            params: {
                lang,
                slug: slug.join("/"),
            },
            props: page,
        };
    });

    return paths;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { lang, slug } = Astro.params;
const page = Astro.props;
const publishedDate = page.data.publishedDate.toLocaleString(lang).split(",")[0];
const updatedDate = page.data.updatedDate?.toLocaleString(lang).split(",")[0];

const { Content } = await page.render();
---

<Layout title={page.data.title}>
    <Container extraClasses="items-center justify-center">
        <article class="flex flex-col items-center justify-center w-[85%] max-sm:w-[95%] text-base">
            <div class="flex flex-col items-center justify-center w-full my-6">
                <h1 class="mb-6 text-5xl lg:text-6xl font-bold">{page.data.title}</h1>
                <p class="font-bold lg:text-lg">by {page.data.author} • {publishedDate}</p>
            </div>
            <div class="prose max-sm:prose-sm max-w-none !text-rosePineDawn-text dark:!text-rosePineMoon-text">
                <Content />
            </div>
        </article>
    </Container>
</Layout>
