---
interface Props {
    extraClasses?: string;
    noLimit?: boolean;
}

const { extraClasses, noLimit } = Astro.props;
---

<div class={`-mt-[5.5em] pt-[5.5em] px-8 pb-8 flex flex-col text-rose-pine-dawn-text dark:text-rose-pine-moon-text ${!noLimit ? "md:max-w-240 mx-auto" : ""} ${extraClasses ?? ""}`}>
    <slot />
</div>