---
interface Props {
    extraClasses?: string;
}

const { extraClasses } = Astro.props;
---

<div class={`-mt-[4.5em] px-8 pb-8 flex flex-col text-rosePineDawn-text dark:text-rosePineMoon-text ${extraClasses ?? ""}`}>
    <slot />
</div>