---
interface Props {
    extraClasses?: string;
}

const { extraClasses } = Astro.props;
---

<div class={`-mt-[4.5em] pt-[4.5em] px-8 pb-8 flex flex-col text-rose-pine-dawn-text dark:text-rose-pine-moon-text ${extraClasses ?? ""}`}>
    <slot />
</div>