---
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import { availableLanguageTags } from "~/paraglide/runtime";
---

<script>
    const elem = document.getElementById("langselect")!;

    const observer = new ResizeObserver(() => {
        const fit = elem.clientHeight <= 128;
        elem.style.overflowY = fit ? "hidden" : "";
    });

    observer.observe(elem);
</script>

<div class="relative inline-block text-center group/lang-select">
    <button class="peer h-full cursor-pointer p-2.5 rounded-sm bg-rose-pine-dawn-highlight-med dark:bg-rose-pine-moon-highlight-med hover:bg-opacity-80" tabindex="0">
        <Icon size={20} name={`circle-flags:${Astro.currentLocale ?? "en"}`} />
    </button>
    <div class="z-10 absolute hidden group-focus-within/lang-select:block bottom-12 right-[50%] translate-x-[50%] bg-rose-pine-dawn-surface dark:bg-rose-pine-moon-surface divide-y divide-rose-pine-dawn-muted dark:divide-rose-pine-moon-muted rounded-lg">
        <ul id="langselect" class="py-2 text-sm max-h-32 overflow-y-scroll">
            {availableLanguageTags.map((lang) => 
                <li>
                    <a tabindex="0" href={`${getRelativeLocaleUrl(lang)}${Astro.url.pathname.replace(`/${Astro.currentLocale}/`, "")}`} class="block px-2 mx-2 py-2 rounded-lg hover:bg-rose-pine-dawn-overlay dark:hover:bg-rose-pine-moon-overlay">
                        <Icon size={20} name={`circle-flags:${lang}`} />
                    </a>
                </li>
            )}
        </ul>
    </div>
</div>
