---
interface Props {
    href?: string;
    extraClasses?: string;
}

const { href, extraClasses } = Astro.props;
---

<a href={href} class={`cursor-pointer text-md font-semibold leading-6 py-2 px-3 rounded-md hover:bg-rose-pine-dawn-highlight-med dark:hover:bg-rose-pine-moon-highlight-med text-rose-pine-dawn-text dark:text-rose-pine-moon-text ${extraClasses}`}>
    <slot />
</a>
