---
interface Props {
    url: string;
    name: string;
    image: string;
}

const { url, name, image } = Astro.props;
---
<li>
    <a style={`background-image: url('/image/profile/${image}.webp')`} class="grid rounded-md shadow-sm before:content-[''] before:pb-[100%] before:block before:[grid-area:1/1/2/2] bg-contain cursor-pointer bg-rose-pine-dawn-surface dark:bg-rose-pine-moon-surface hover:opacity-70" href={url}>
        <div class="grid items-end [grid-area:1/1/2/2]">
            <p class="rounded-b-md bg-linear-to-b from-transparent from-10% to-rose-pine-dawn-overlay dark:to-rose-pine-moon-overlay p-4 pt-16 font-semibold">{name}</p>
        </div>
    </a>
</li>

