---
import * as m from "~/paraglide/messages.js";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import { getLangStaticPaths } from "~/util/getLangStaticPaths";

export const getStaticPaths = getLangStaticPaths;
const LiveVideoIds = [
    "ox_OSNBKrY4",
    "fHbmgharsL4",
    "6NE_u1tCCMg",
    // Add more video IDs here
];
const UpcomingVideoIds = [
    "ox_OSNBKrY4",
    "fHbmgharsL4",
    "6NE_u1tCCMg",
];

---

<Layout title={m.schedule()}>
    <Container>
        <h2 class="text-4xl font-extrabold dark:text-white">Live</h2>
        <hr>
        <br>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {LiveVideoIds.map((LivevideoId) => (
            <div class="relative" style="padding-bottom: 60%;">
                <iframe
                    class="absolute top-0 left-0 w-full h-full"
                    title="wow"
                    src={`https://www.youtube.com/embed/${LivevideoId}`}
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                />
            </div>
        ))}
        </div>
        <h2 class="text-4xl font-extrabold dark:text-white">Upcoming</h2>
        <hr>
            <br>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {UpcomingVideoIds.map((UpcomingVideoId) => (
                <div class="relative" style="padding-bottom: 60%;">
                    <iframe
                        class="absolute top-0 left-0 w-full h-full"
                        title="wow"
                        src={`https://www.youtube.com/embed/${UpcomingVideoId}`}
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    />
                </div>
            ))}
        </div>
    </Container>
</Layout>
