---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import Carousel from "~/components/Carousel.astro";

export async function getStaticPaths() {
    const pages = await getCollection("talents");

    const paths = pages.map(page => {
        const [lang, ...id] = page.id.split("/");
        return {
            params: {
                lang,
                slug: id.join("/"),
            },
            props: page,
        };
    });

    return paths;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { description, name, generation, flavor, mark, images, socialMedia } = Astro.props.data;
---

<Layout title={name}>
    <Container extraClasses="items-center justify-center">
        <div class="w-full flex flex-row max-sm:flex-col justify-between gap-6">
            <div class="md:max-w-[40%] w-full h-full">
                <Carousel images={[`/image/profile/${Astro.props.id.split("/")[1]}.webp`, ...images].filter(i => i.length !== 0)} />
            </div>
            <div class="w-full h-full">
                <h1 class="text-4xl font-bold mb-2">{name}</h1>
                <p class="">{description}</p>
            </div>
        </div>
    </Container>
</Layout>
