---
import * as m from "~/paraglide/messages.js";
import Layout from "~/layouts/Layout.astro";
import Container from "~/components/Container.astro";
import { getLangStaticPaths } from "~/util/getLangStaticPaths";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import TalentsItem from "~/components/TalentsItem.astro";

export const getStaticPaths = getLangStaticPaths;

const collection = await getCollection("talents");
const talents = collection.filter(({ id }) => id.startsWith(Astro.currentLocale!));

---

<Layout title={m.talents()}>
    <Container>
        <h1 class="text-5xl font-bold mb-8">{m.talents()}</h1>
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(12rem,1fr))] gap-4">
            {talents.map(({ id, data }) =>  <TalentsItem url={getRelativeLocaleUrl(Astro.currentLocale ?? "en", `talents/${id.split("/")[1]}`)} name={data.name} image={id.split("/")[1]} />)}
        </ul>
    </Container>
</Layout>
