---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={Astro.locals.paraglide.lang} dir={Astro.locals.paraglide.dir}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script>
            if (localStorage.theme === "dark" || (!("theme" in localStorage || localStorage.theme === "device") && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
        <title>{title}</title>
    </head>
    <body class="bg-rosePineDawn-base dark:bg-rosePineMoon-base">
        <Nav />
        <slot />
        <Footer />
    </body>
</html>
