---
import Nav from "~/components/Nav.astro";
import Footer from "~/components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={Astro.locals.paraglide.lang} dir={Astro.locals.paraglide.dir}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="prefetch" href="/logo.svg" as="image" type="image/svg+xml">
        <script is:inline>
            const v = localStorage.theme ?? "device";

            if (v === "dark" || (v === "device") && window.matchMedia("(prefers-color-scheme: dark)").matches) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>
        <script>
            // shim to give focus to buttons on click on safari/mobilesafari
            // https://bugs.webkit.org/show_bug.cgi?id=22261
            document.addEventListener("click", (e) => {
                const target = e.target as HTMLElement;
                if (target.matches("button, button *")) {
                    target.closest("button")?.focus();
                }
            });
        </script>
        <script is:inline defer src="https://umami-f08k0kw.apps1.nekos.cloud/script.js" data-website-id="825bf790-c4b7-405c-b656-c814d80c574d"></script>
        <meta name="generator" content={Astro.generator} />
        <title>FlaVR - {title}</title>
    </head>
    <body class="bg-rosePineDawn-base dark:bg-rosePineMoon-base">
        <Nav />
        <div class="mt-[-4.5em] min-h-screen">
            <slot />
        </div>
        <Footer />
    </body>
</html>
